@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'PT Sans', sans-serif;
}

@layer base {
  :root {
    --background: 195 67% 96%;
    --foreground: 215 28% 17%;
    --card: 195 67% 99%;
    --card-foreground: 215 28% 17%;
    --popover: 195 67% 99%;
    --popover-foreground: 215 28% 17%;
    --primary: 189 44% 65%;
    --primary-foreground: 215 28% 10%;
    --secondary: 195 50% 90%;
    --secondary-foreground: 215 28% 17%;
    --muted: 195 30% 92%;
    --muted-foreground: 215 15% 45%;
    --accent: 120 73% 85%;
    --accent-foreground: 120 40% 15%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 195 30% 88%;
    --input: 195 30% 90%;
    --ring: 189 44% 65%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;

    --sidebar-background: 216 28% 12%;
    --sidebar-foreground: 195 20% 96%;
    --sidebar-border: 216 28% 20%;
    --sidebar-primary: 189 44% 65%;
    --sidebar-primary-foreground: 189 44% 15%;
    --sidebar-accent: 216 28% 20%;
    --sidebar-accent-foreground: 195 20% 96%;
    --sidebar-ring: 189 44% 65%;
  }
  .dark {
    --background: 222 47% 11%;
    --foreground: 210 40% 98%;
    --card: 222 47% 11%;
    --card-foreground: 210 40% 98%;
    --popover: 222 47% 11%;
    --popover-foreground: 210 40% 98%;
    --primary: 210 40% 98%;
    --primary-foreground: 222 47% 11%;
    --secondary: 217 33% 17%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217 33% 17%;
    --muted-foreground: 215 20% 65%;
    --accent: 217 33% 17%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 63% 31%;
    --destructive-foreground: 210 40% 98%;
    --border: 217 33% 17%;
    --input: 217 33% 17%;
    --ring: 215 20% 65%;

    --sidebar-background: 222 47% 9%;
    --sidebar-foreground: 210 40% 98%;
    --sidebar-border: 217 33% 17%;
    --sidebar-primary: 210 40% 98%;
    --sidebar-primary-foreground: 222 47% 11%;
    --sidebar-accent: 217 33% 17%;
    --sidebar-accent-foreground: 210 40% 98%;
    --sidebar-ring: 215 20% 65%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
